# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-lock.yaml

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.iml
*.sublime-workspace

# # Upload directories
# upload/
# upload2/
# uploads/

# IDE helpers
.eslintcache
.stylelintcache

# Misc
.cache
.parcel-cache