* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    z-index: 1;
}

#board>*>td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 5;
}

.border {
    background-color: black;
    color: white;
}

.headUp {
    background: url("snake.png") -195px 0;
}

.headDown {
    background: url("snake.png") -260px -65px;
}


.headRight {
    background: url("snake.png") -260px 0;
}

.headLeft {
    background: url("snake.png") -195px -65px;
}

.tailUp {
    background: url("snake.png") -195px -130px;
}

.tailDown {
    background: url("snake.png") -260px -195px;
}

.tailLeft {
    background: url("snake.png") -195px -195px;
}

.tailRight {
    background: url("snake.png") -260px -130px;
}

.bodyRight {
    background: url("snake.png") -70px 0px;
}

.bodyUp {
    background: url("snake.png") -130px -70px;
}

.turnLU {
    background: url("snake.png") -130px -130px;
}

.turnDL {
    background: url("snake.png") -130px 0;
}

.turnUR {
    background: url("snake.png") 0 -65px;
}

.turnRD {
    background: url("snake.png") 0 0;
}

.deadEnd {
    background: url("boom.png")
}

#loseScreen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    /* background-color: red; */
    /* opacity: 50%; */

    z-index: 10;

    overflow: hidden;
}

#loseScreen>div {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 500vh;
    height: 500vh;

    z-index: 6;
    opacity: 50%;
}


#loseScreen>button {
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 20px;
    font-size: 20px;

    animation-name: loseButton;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: paused;

    z-index: 7;
}

#loseScreen>button:hover {
    background-color: yellow;
    cursor: pointer;

    animation-play-state: running;
}

@keyframes loseButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

#loseScreen>p {
    font-size: 30px;
    color: white;
    text-align: center;

    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background-color: white;
    padding: 20px;
    border-radius: 20px;

    z-index: 7;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: rgb(151, 151, 0);
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}

#loseScreen>img {
    z-index: 7;
}

.fruit {
    background: url("snake.png") 0px -195px;
}

#infoBox {
    background-color: greenyellow;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 17px;

    position: relative;
    top: 50px;
    left: 0;
    z-index: 0;
}


#infoBox>ul>li {
    font-weight: 600px;
}

.bolder {
    font-size: 20px;
    font-weight: 600px;
}

.leftTop {
    border-radius: 30px 0 0 0;
}

.rightTop {
    border-radius: 0 30px 0 0;
}

.leftDown {
    border-radius: 0 0 30px 0;
}

.rightDown {
    border-radius: 0 0 0 30px;
}