<div id="mainAuth">
    <h1>login with cookie</h1>

    <div id="links">
        <a href="/yourAccount">yourAccount</a>
        <a href="/register">register</a>
        <a href="/filemanager">filemanager</a>
        <a href="/filemanager2">filemanager2</a>
    </div>

    <form method="post" action="/loginForm">
        <input type="text" name="userName" placeholder="userName">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login" id="subInput">
    </form>
</div>