<div id="mainAuth">
    <div id="loginInfo">
        <h1>user logged on:</h1>
        <b style="color: blue; font-size:30px;">{{userName}}</b>
    </div>

    <p>You will be automatically logged off in 5 minutes</p>

    <div id="links">
        <a href="/logout">logout</a>
        <a href="/filemanager">filemanager</a>
        <a href="/filemanager2">filemanager2</a>
    </div>
</div>