<div id="main">
    <div id="left">
        <h3>multiupload</h3>
    </div>
    <div id="right">
        <form action="upload" enctype="multipart/form-data" method="POST">
            <input type="file" multiple name="files" id="files">
            <button type="submit" style="margin-top: 10px;">upload</button>
        </form>
    </div>
</div>