* {
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
    margin: 0;
}

#root {
    position: absolute;
    z-index: 1;
}

#ui {
    position: absolute;
    z-index: 2;
    width: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#status {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 40px;
    font-weight: 900;

    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#statusInfo>b {
    color: yellow;
}

#loggingDiv {
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    text-align: center;

    width: 400px;
    height: 500px;

    margin-top: 100px;

    z-index: 4;
}

#background {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    width: 400px;
    height: 300px;
    opacity: 60%;


    z-index: 3;
}

#loggingDiv>h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#loggingDiv>form {
    display: flex;
    flex-direction: column;
}

#loggingDiv>form>* {
    margin: 10px;
    border-radius: 20px;
}

#loggingDiv>form>input {
    text-align: center;
    font-size: 30px;
}

#loggingDiv>form>button {
    background-color: grey;
    font-size: 20px;
}

#loggingDiv>form>button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#waiting {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: black;
    opacity: 50%;

    z-index: 10;
}

#waitingInfo {
    position: absolute;

    color: white;
    background-color: transparent;
    font-size: 50px;

    margin: 0, auto;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    z-index: 11;
}

/* make bigger background, so scroll doesn't interfiere with board / three.js */