* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7B9EA8;
}

h1 {
    background-color: rgb(166, 242, 241);
    padding: 20px;
    border-radius: 20px;
}

h2,
h4 {
    text-align: center;

    /* border-radius: 20px 20px 0 0; */
    padding: 20px;
    background-color: rgb(197, 216, 209);
    width: 200px;
}

h2 {
    border-radius: 20px 20px 0 0;
    margin: 0;
    width: 250px;
}

h3 {
    margin: 10px;
}

h4 {
    border-radius: 0 0 20px 20px;
    color: rgb(197, 216, 209);
    margin: 0;
    width: 250px;
}

#main {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #a6f2f1;
    padding: 20px;
    border-radius: 20px;
    min-width: 300px;
}

.capsuleMain {
    /* display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center; */

    background-color: rgb(124, 222, 220);
    width: 200px;
    padding: 10px;
}

.capsule {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectDescription {
    background-color: rgb(5, 142, 217);
    border-radius: 20px 0;
    padding: 10px;
}

.linkToProject {
    background-color: rgb(249, 166, 32);
    border-radius: 0 20px;
    padding: 10px;

    text-decoration: none;
    color: white;
}

.linkToProject:hover {
    background-color: rgb(221, 252, 116);
    color: black;
}

#worth_box {
    margin: 20px;
    padding: 10px 25px;
    border-radius: 10px;

    background-color: #a6f2f1;

    font-weight: bold;
}

.list_header {
    font-size: 25px;

    padding: 0px;
    margin: 0px;
}